In [1]:
import pandas as pd #importing panda
import numpy as np #importing numpy

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

In [3]:
train_df = pd.read_csv('train.csv') #read the train dataset
test_df = pd.read_csv('test.csv') #read the test dataset
train_df.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452

In [4]:
drop_cols = ['max_floor','material','build_year',
             'num_room','kitch_sq','state','timestamp']
train_df = train_df.drop(drop_cols, axis=1)
train_df = train_df.dropna(how = 'any')
train_df.head()

,id,full_sq,life_sq,floor,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
1,2,34,19.0,3.0,Investment,Nagatinskij Zaton,9.589337e+06,115352,0.372602,0.049637,...,15,3,0,15,29,1,10,66,14,6000000
2,3,43,29.0,2.0,Investment,Tekstil'shhiki,4.808270e+06,101708,0.112560,0.118537,...,10,3,0,11,27,0,4,67,10,5700000
4,5,77,77.0,4.0,Investment,Basmannoe,8.398461e+06,108171,0.015234,0.037316,...,319,108,17,135,236,2,91,195,14,16331452
6,7,25,14.0,10.0,Investment,Sokol'niki,1.032047e+07,57405,0.523439,0.042307,...,81,16,3,38,80,1,27,127,8,5500000
7,8,44,44.0,5.0,Investment,Bibirevo,6.407578e+06,155572,0.189727,0.000070,...,9,4,0,11,18,1,0,47,4,2000000

In [5]:
test_df = test_df.drop(drop_cols, axis=1)
test_df = test_df.dropna(how = 'any')
test_df.head()

,id,full_sq,life_sq,floor,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
2,30476,40.5,25.1,3,Investment,Perovo,9.946335e+06,139322,0.065409,0.225825,...,42,11,4,0,10,21,0,10,71,11
17,30491,94.5,61.9,2,Investment,Akademicheskoe,5.704502e+06,106445,0.043127,0.151346,...,152,76,17,4,30,51,1,21,102,9
19,30493,77.7,52.6,2,Investment,Akademicheskoe,5.704502e+06,106445,0.043127,0.151346,...,118,50,9,2,15,36,1,10,102,10
21,30495,67.2,45.1,14,Investment,Zjuzino,5.391434e+06,123000,0.079151,0.000000,...,72,26,4,0,9,31,1,10,70,9
24,30498,32.5,18.7,4,Investment,Veshnjaki,1.051837e+07,118945,0.334905,0.012339,...,24,6,3,0,9,17,0,10,55,11

In [6]:
non_num = ['product_type','sub_area', 'culture_objects_top_25',
           'thermal_power_plant_raion', 'incineration_raion','oil_chemistry_raion',
           'radiation_raion','railroad_terminal_raion','big_market_raion',
           'nuclear_reactor_raion', 'detention_facility_raion','water_1line',
           'big_road1_1line','railroad_1line', 'ecology']
feature_cols_train = list(train_df)
feature_cols_test = list(test_df)
x_train = train_df[feature_cols_train[:-1]]
x_train2 = pd.get_dummies(x_train, columns = non_num)
y_train = train_df['price_doc']
x_test = test_df[feature_cols_test]
x_test2 = pd.get_dummies(x_test, columns = non_num)
y_test = train_df.sample(n = len(x_test2.index))['price_doc']
print(y_train.shape, y_test.shape)
print(x_train.shape, x_test.shape)
print(x_train2.shape, x_test2.shape)

(9601,) (2546,)
(9601, 284) (2546, 284)
(9601, 379) (2546, 379)

In [7]:
pca = PCA(n_components = 10)
x_train3 = pca.fit_transform(x_train2)
x_test3 = pca.transform(x_test2)
x_train3= pd.DataFrame(x_train3)
x_test3 = pd.DataFrame(x_test3)
print(x_train3.shape, x_test3.shape)

(9601, 10) (2546, 10)

In [8]:
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled= min_max_scaler.fit_transform(x_train3)
x_scaled

array([[ 0.16775732,  0.22334512,  0.34734971, ...,  0.40628204,
         0.40682644,  0.3859488 ],
       [ 0.07847093,  0.08603523,  0.27558505, ...,  0.35904294,
         0.48056474,  0.43544842],
       [ 0.12999393,  0.67751586,  0.41531664, ...,  0.92151865,
         0.30654704,  0.43353796],
       ...,
       [ 0.10490901,  0.79356087,  0.36495869, ...,  0.42513183,
         0.12984665,  0.18612654],
       [ 0.10258723,  0.09224241,  0.28345622, ...,  0.50385271,
         0.4457547 ,  0.3872564 ],
       [ 0.07300466,  0.00717233,  0.14689926, ...,  0.62316242,
         0.40041452,  0.44375853]])

In [9]:
Alogreg_normalized = LogisticRegression()
Alogreg_normalized.fit(x_scaled, y_train) #use this for NF

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [10]:
y_predict_lr = Alogreg_normalized.predict(x_test3) #testing the testing set
score_lr = accuracy_score(y_test, y_predict_lr) #check the elements and return score -accuracy-
print(score_lr)

0.00471327572663

In [11]:
Alogreg_notNormalized = LogisticRegression()
Alogreg_notNormalized.fit(x_train3, y_train) #use this for NO NF

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [12]:
y_predict_lr = Alogreg_notNormalized.predict(x_test3) #testing the testing set
score_lr = accuracy_score(y_test, y_predict_lr) #check the elements and return score -accuracy-
print(score_lr)

0.0432050274941

In [14]:
accuracy_list_normalized = cross_val_score(Alogreg_normalized, x_scaled, y_train, cv=10, scoring='accuracy', n_jobs = -1) #use this for NF
accuracy_list_notNormmalized = cross_val_score(Alogreg_notNormalized, x_train3, y_train, cv=10, scoring='accuracy', n_jobs = -1) #use this for NO NF

print(accuracy_list_normalized)
print(accuracy_list_notNormmalized)

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)
C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

[ 0.01590909  0.03246753  0.04802561  0.0423341   0.0430622   0.0468948
  0.05401845  0.04755435  0.05070423  0.06304985]
[ 0.01727273  0.03432282  0.05229456  0.04576659  0.04545455  0.04816223
  0.05401845  0.04891304  0.05211268  0.05131965]

In [20]:
print(accuracy_list_normalized.mean())
print(accuracy_list_notNormmalized.mean())

0.0444020209526
0.0449637283873

In [15]:
my_linreg = LinearRegression()
my_linreg.fit(x_scaled, y_train) #use this for NF
y_prediction = my_linreg.predict(x_test3)

In [16]:
my_linreg_2 = LinearRegression()
my_linreg_2.fit(x_train3, y_train) #use this for NO NF
print(y_prediction)

[ -1.81498170e+13   1.19190732e+13   5.61402966e+12 ...,   4.04120831e+13
  -5.58849881e+12   5.14122170e+13]

In [17]:
mse_list_scaled = cross_val_score(my_linreg, x_scaled, y_train, cv=10, scoring='neg_mean_squared_error', n_jobs = -1) #use this for NF
mse_list = cross_val_score(my_linreg_2, x_train3, y_train, cv=10, scoring='neg_mean_squared_error', n_jobs = -1) #use this for NO NF

mse_list_positive = -mse_list
mse_list_positive_scaled = -mse_list_scaled
rmse_list = np.sqrt(mse_list_positive)
rmse_list_scaled = np.sqrt(mse_list_positive_scaled)

print(rmse_list.mean())
print(rmse_list_scaled.mean())

5846308.66557
5846308.66557

In [18]:
mse = metrics.mean_squared_error(y_test, y_prediction)
rmse = np.sqrt(mse)
print(rmse)

2.53460581255e+13

In [21]:
accuracy_cv = accuracy_list_normalized.mean()
accuracy_cv_notNormalized = accuracy_list_notNormmalized.mean()

print(accuracy_cv)
print(accuracy_cv_notNormalized)

0.0444020209526
0.0449637283873

In [29]:
my_decisiontree_scaled = DecisionTreeClassifier()
my_decisiontree_scaled.fit(x_scaled, y_train) #use this for NF

y_predict_dt_scaled = my_decisiontree_scaled.predict(x_test3)
print(y_predict_dt_scaled)
score_dt_scaled = accuracy_score(y_test, y_predict_dt_scaled)
print(score_dt_scaled.mean())

[ 2000000 14000000  2000000 ..., 45640000  2000000 45640000]
0.0223880597015

In [30]:
my_decisiontree = DecisionTreeClassifier()
my_decisiontree.fit(x_train3, y_train) #use this for NO NF

y_predict_dt = my_decisiontree.predict(x_test3)
print(y_predict_dt)
score_dt = accuracy_score(y_test, y_predict_dt)
print(score_dt.mean())

[ 6500000  6400000  6500000 ...,  8500000  8000000 25039300]
0.00589159465829

In [25]:
for k in range(1, 11): #a for loop to change the K value from 1 to 5
    print ('With K equals % d' % (k))
    Aknn = KNeighborsClassifier(n_neighbors=k) #Aknn
    Aknn.fit(x_train3, y_train) #use this for NO NF
    y_predict = Aknn.predict(x_test3) #testing the testing set
    accuracy = accuracy_score(y_test, y_predict) #check elemens and return accuracy  
    print (accuracy) # printing accuracy result

With K equals  1
0.00628436763551
With K equals  2
0.00942655145326
With K equals  3
0.012568735271
With K equals  4
0.0141398271799
With K equals  5
0.0133542812255
With K equals  6
0.0145326001571
With K equals  7
0.0157109190888
With K equals  8
0.0153181461115
With K equals  9
0.016103692066
With K equals  10
0.0149253731343

In [26]:
for k in range(1, 11):
    print ('With K equals % d' % (k))
    Aknn_scaled = KNeighborsClassifier(n_neighbors=k) #Aknn
    Aknn_scaled.fit(x_scaled, y_train) #use this for NF
    y_predict_scaled = Aknn.predict(x_test3)
    accuracy_scaled = accuracy_score(y_test, y_predict) #check elemens and return accuracy  
    print (accuracy_scaled) # printing accuracy result

With K equals  1
0.0149253731343
With K equals  2
0.0149253731343
With K equals  3
0.0149253731343
With K equals  4
0.0149253731343
With K equals  5
0.0149253731343
With K equals  6
0.0149253731343
With K equals  7
0.0149253731343
With K equals  8
0.0149253731343
With K equals  9
0.0149253731343
With K equals  10
0.0149253731343

In [27]:
for k in range(1, 11): #a for loop to change the K value from 1 to 5
    print('With K equals % d' % (k))
    Aknn_cv = KNeighborsClassifier(n_neighbors=k) #Aknn 
    accuracy_list = cross_val_score(Aknn_cv, x_train3, y_train, cv=10, scoring='accuracy', n_jobs = -1) #use this for NO NF

    accuracy_cv = accuracy_list.mean() #getting average of accuracy values
    print(accuracy_cv)

With K equals  1

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0298098571434
With K equals  2

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0284702683349
With K equals  3

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0275480095681
With K equals  4

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0293657075978
With K equals  5

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0296728137024
With K equals  6

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0284813455837
With K equals  7

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0285759469112
With K equals  8

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0280754194594
With K equals  9

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0282629267872
With K equals  10

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.031277878909

In [28]:
for k in range(1, 11): #a for loop to change the K value from 1 to 5
    print('With K equals % d' % (k))
    Aknn_scaled_cv = KNeighborsClassifier(n_neighbors=k) #Aknn 
    accuracy_list_scaled_cv = cross_val_score(Aknn_scaled_cv, x_scaled, y_train, cv=10, scoring='accuracy', n_jobs = -1) # use this for NF
    accuracy_cv_scaled = accuracy_list_scaled_cv.mean()
    print(accuracy_cv_scaled)

With K equals  1

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0298270641664
With K equals  2

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0286552463175
With K equals  3

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.028055805217
With K equals  4

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0283862777111
With K equals  5

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0293277972109
With K equals  6

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0290807074026
With K equals  7

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0294362971277
With K equals  8

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0298178009513
With K equals  9

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0295134211992
With K equals  10

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

0.0298808968728